# ======================================================
# CACHE
# ======================================================
wp-content/cache/
wp-content/ewww/
wp-content/litespeed/
wp-content/uploads/uag-plugin/

# ======================================================
# WORDPRESS TEMP
# ======================================================
wp-content/upgrade/
wp-content/debug.log

# ======================================================
# PLUGINS DE TERCEIROS
# ======================================================
wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/meu-mapa-personalizado/
!wp-content/plugins/meu-formulario/
!wp-content/plugins/orcamentos-recebidos/
!wp-content/plugins/lgpd-aviso/
!wp-content/plugins/meu-plugin/

# ======================================================
# ASTRA / TEMPORÁRIOS
# ======================================================
wp-content/uploads/ast-block-templates-json/
wp-content/uploads/wpforms/cache/

# ======================================================
# NÃO IGNORAR UPLOADS REAIS
# ======================================================
!wp-content/uploads/

# ======================================================
# NÃO IGNORAR IMAGENS DO SITE
# ======================================================
!wp-content/uploads/2026/
!wp-content/uploads/2026/06/